<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/main.css" rel="stylesheet">
		<link href="/css/browse.css" rel="stylesheet">

	</head>

	<body>
		
		<iframe id="downloadframe" style="display:none"></iframe>

		<div class="col-md-12">

			<div class="row content-row">

				<div class="col-lg-1 col-centered content-col" id="navigation_top">

					<div class="navbar navbar-default navbar-fixed-top" role="navigation" id="nav_top">
						<div class="container">
							<div class="navbar-header">
								<a class="navbar-brand" href="#"><img src="img/logo_regiondata_white.png" id="logo"></a>
							</div>
							<div class="navbar-collapse collapse">
								<ul class="nav navbar-nav">
									<li class="btn-nav-top-2" id="button_mydata">
										<a href="#">My Data</a>
									</li>
									<li class="btn-nav-top" id="button_explore">
										<a href="#">Explore</a>
									</li>
									<li>
										<a href="#contact"></a>
									</li>
								</ul>
							</div>
						</div>
					</div>

				</div>

			</div>
			
			<div class = "row content-row">
				
				<div class="col-lg-1 col-centered content-col" id="my_data">
					
					<button type="button" class="btn btn-default" id="btn_back">
						<span class="glyphicon glyphicon-chevron-left"></span> Back to My Data
					</button>
					
					<div class="panel panel-default panel-regiondata">
						
						<div class="panel-heading heading-regiondata">My Data</div>
						
						<table class="table">
							
							<thead id="content_head">

							</thead>
							
							<tbody id="content_data">
								
							</tbody>
							
						</table>
						
					</div>
					
					<button type="button" class="btn btn-default btn-lg btn-regiondata" id="btn_save">
						Save
					</button>
					
				</div>
				
			</div>
			

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<script src="js/utils.js"></script>
		<script src="js/browse.js"></script>

	</body>
</html>