<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/main.css" rel="stylesheet">
		<link href="/css/edit.css" rel="stylesheet">

	</head>

	<body>
		
		<iframe id="downloadframe" style="display:none"></iframe>

		<div class="col-md-12">

			<% include header %>

			
			
			<div class = "row content-row">
				
				<div class="col-lg-1 col-centered content-col" id="my_data">
					
					<div class="modal fade" id="relationModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
										
										<span class="glyphicon glyphicon-remove"></span>
										
									</button>
									
									<h4 class="modal-title text_hdr" id="myModalLabel">Edit Relations</h4>
									
								</div>
								
								<div class="modal-body">
									
									<p>Select Property</p>
									
									<select class="form-control" id="field_selectprop_self"></select>
									
									<p>Select Related Dataset</p>
									
									<select class="form-control" id="field_selectdb_other"></select>
									
									<p>Select Related Property</p>
									
									<select class="form-control" id="field_selectprop_other"></select>
									
									<button type="button" class="btn btn-default btn-regiondata">
										
										<span class="glyphicon glyphicon-plus"></span>
										
									</button>
									
									<button type="button" class="btn btn-default btn-regiondata" id="btn_confirmrelate">Confirm</button>
		
								</div>
								
							</div>
							
						</div>
						
					</div>
					
					<div class="modal fade" id="datarelationModal" tabindex="-1" role="dialog" aria-labelledby="datarelationModal" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
										
										<span class="glyphicon glyphicon-remove"></span>
										
									</button>
									
									<h4 class="modal-title text_hdr" id="txt_modalLabel">Relation</h4>
									
								</div>
								
								<div class="modal-body">
									
									<p id="txt_relateddata">A relation goes here!</p>
		
								</div>
								
							</div>
							
						</div>
						
					</div>
					
					<div class="panel panel-default panel-regiondata" id="panel_datatable">
						
						<div class="panel-heading heading-regiondata editheader">
							
							<p id="header_dataname"></p>
							
							<div class='form-horizontal' id='searchpanel'>
								
								<div class='col-sm-1' style='text-align: right; font-size:14px;'>
									Search
								</div>
								<div class='col-sm-4'>
									<select id='search-select' class='form-control'>
										<option>a</option>
										<option>b</option>
										<option>c</option>
									</select>
								</div>
								<div class='col-sm-6'>
									<input class='form-control' type='text' id='search-value' placeholder="Type in a value to search your database">
								</div>
								<div class='col-sm-1'>
									<button class='btn btn-warning'>Go</button>
								</div>
								
								
								
								
								
							</div>
							
						</div>
					
						<table class="table" id="datatable"></table>
						
					</div>
					
					<!--<a href="#" data-toggle="modal" data-target="#relationModal" type="button" class="btn btn btn-regiondata" id="btn_specrelation">Relations</a>-->
					
					<div class="btn-group" id="btn_specrelation">
						
						<button class="btn btn-default btn-regiondata dropdown-toggle" type="button" data-toggle="dropdown"><span id="icon_cog" class="glyphicon glyphicon-cog"></span><span class="caret"></span></button>
						<ul class="dropdown-menu pull-right" role="menu">
							
							<li>
								
								<a href="#" data-toggle="modal" data-target="#relationModal">Relations</a>
								
							</li>
							
							<li>
								
								<a id="btn_schemas">Schemas</a>
								
							</li>
							
						</ul>
						
					</div>
					
					<button type="button" class="btn btn btn-regiondata" id="btn_savedata">Save</button>
					
					<input class="form-control" placeholder="Name" id="field_dataname">
					
				</div>
				
			</div>
			

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<script src="js/edit.js"></script>
		<script src="js/utils.js"></script>

	</body>
</html>