<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/main.css" rel="stylesheet">
		<!--<link href="/lib/chosen/chosen.min.css" rel="stylesheet">
		<link href="/lib/chosen/docsupport/prism.css" rel="stylesheet">
		<link href="/lib/chosen/docsupport/style.css" rel="stylesheet">-->

	</head>

	<body>
		
		<iframe id="downloadframe" style="display:none"></iframe>

	
		<div class="col-md-12">

			<% include header %>

			<!-- 

			<div class="row content-row">

				<div class="col-lg-1 col-centered content-col" id="navigation_top">

					<div class="navbar navbar-default navbar-fixed-top" role="navigation" id="nav_top">
						<div class="container">
							<div class="navbar-header">
								<a class="navbar-brand" href="#"><img src="img/logo_regiondata_white.png" id="logo"></a>
							</div>
							<div class="navbar-collapse collapse">
								<ul class="nav navbar-nav">
									<li class="btn-nav-top-2" id="button_mydata">
										<a href="/main">My Data</a>
									</li>
									<li class="btn-nav-top" id="button_explore">
										<a href="/explore">Explore</a>
									</li>
									<li>
										<a href="#contact"></a>
									</li>
								</ul>
							</div>
						</div>
					</div>

				</div>

			</div>
			
			-->
			
			<div class = "row content-row">
				
				<div class="col-lg-1 col-centered content-col" id="my_data">
					
					<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
										
										<span class="glyphicon glyphicon-remove"></span>
										
									</button>
									
									<h4 class="modal-title text_hdr" id="myModalLabel">Upload Data</h4>
								
								</div>
								
								<div class="modal-body">
									
									<form action='/upload' method='post' id="form_upload" enctype='multipart/form-data'>
						
										<input type="text" class="form-control" id="field_name" name="name" placeholder="Name">
										
										<select class="form-control" id="select_filetype" name="filetype"></select>
										
										<input type="text" class="form-control" id="field_subject" name="subject" placeholder="Subject" autocomplete="off">
										
										<ul class="list-group" id="opts_subject" hidden>
											
												
											
										</ul>
										
										<textarea rows="4" class="form-control" placeholder="Description (optional)" id="field_description" name="description"></textarea>
										
										<input type='file' id="btn_choosefile" name='uploadfile'>
										
										<hr class="divider-horz-margin">
										
										<input type='submit'  id="btn_upload" class="btn btn-default btn-regiondata" value='upload'>
										<input type="checkbox" name="gotosettings" id="checkbox_settings"> Go to settings after upload.</input><br>


									</form>
									
								</div>
							</div>
						</div>
					</div>
					
					<div class="panel panel-default">
						
						<div class="panel-heading heading-regiondata">My Data</div>
						
						<table class="table">
							
							<thead>

								<tr>

									<th>Name</th>
									<th>Size</th>
									<th></th>

								</tr>

							</thead>
							
							<tbody id="content_data">
								
							</tbody>
							
						</table>
						
					</div>
					
					<div class="btn-group" id="btn_addnew">
						
						<button class="btn btn-default btn-lg btn-regiondata dropdown-toggle" type="button" data-toggle="dropdown">Add Data  </span><span class="caret"></span></button>
						<ul class="dropdown-menu" role="menu">
							
							<li>
								
								<a href="#" data-toggle="modal" data-target="#basicModal">Upload</a>
								
							</li>
							
							<li>
								
								<a href="/edit?file=new">Create New</a>
								
							</li>
							
						</ul>
						
					</div>
					
					<a href="/schema?view=public" id="btn_schema" class="btn btn-default btn-lg btn-regiondata">Schemas</a>
					
				</div>
				
			</div>

			<!--<hr class="divider_horz">
			
			<div class="row content-row">

				<div class="col-lg-1 col-centered content-col" id="upload_data">
					
					<div class = "text_hdr">Upload Data</div><br>
					

					<!-- <form action='/upload' method='post' enctype='multipart/form-data'>
						
						<input type="text" class="form-control" id="field_filename" name="filename" placeholder="Name">
						<input type='file' id="btn_choosefile" name='uploadfile'>
						<input type='submit'  id="btn_upload" class="btn btn-default btn-regiondata" value='upload'>


					</form>


				</div>

			</div> -->
			
			<div class="row content-row">

				<div class="col-lg-1 col-centered content-col" id="display_data">

				</div>

			</div>

		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<script src="js/utils.js"></script>
		<script src="js/main.js"></script>
		<!--<script src="lib/chosen/chosen.jquery.min.js"></script>
		<script src="lib/chosen/chosen.proto.min.js"></script>
		<script src="lib/chosen/docsupport/prism.js"></script>-->

	</body>
</html>