#content_data{
	
	color:#969696;
	
}

#btn_back{
		
	margin-bottom:10px;
	
}

#btn_save{
	
	float:right;
	margin-top:10px;
	
}

#alert{
	margin-bottom:0;
}

.col-centered{
	
	width:90%;
	
}

.panel-regiondata{
	
	margin-bottom:0;
	
}

.scrolldown{
	position:absolute;
	bottom:10px;
	
}

