.content-col{
	
	width:90%;
	
}

.form-control{
	
	margin-bottom:0;
	min-width:40px;
	
}

.box-content{
	
	min-width:200px;
	
}

.col-fixed{
	
	position:fixed;
	
}

#btn_savedata{
	
	float:right;
	
}

#btn_confirmrelate{
	
	float:right;
	
}

#btn_specrelation{
	
	float:right;
	margin-left:10px;
	
}

#panel_datatable{
	margin-top:30px;
	overflow:scroll;
	
}

#field_dataname{
	
	width:500px;
	float:right;
	margin-right:10px;
	
}

.editheader{
	position: fixed;
	margin-top: -41px;
	width: 90%;
}

#header_dataname{
	
	margin-bottom:0;
	
}

#icon_cog{
	
	margin-right:5px;
	
}

.btn-regiondata:disabled{
	
	background-color:gray;
	color:black;
	border-color:black;
	
}

#searchpanel{
	position: absolute;
	right: 0px;
	display: inline-block;
	margin-top: -24px;
	width:50%;
}

#searchpanel .col-sm-3{
	padding:0;
}
