.form-control{
	
	margin-bottom:10px;
	
}

.text_hdr{
	color:#949494;
	font-size:20pt;
}

.text_nrm{
	color:white;
	font-size:12pt;
}

.content-row{
	padding-top:40px;
	padding-bottom:40px;
}

.divider-horz{
	margin-top:0px;
	margin-bottom:0px;
}

.divider-horz-margin{
	margin-top:10px;
	margin-bottom:10px;
}

.col-centered{
    float: none;
    margin: 0 auto;
    width:90%;
}

.content-col{
	padding-left:0px;
	padding-right:0px;
}

.field-std{
	margin-right:10px;
}

.field-register{
	margin-bottom:10px;
}

.btn-regiondata{
	border-color:#0dc2a5;
	background-color:#0dc2a5;
	color:#e2f4ee;
}

.btn-regiondata:hover{
	background-color:#17d1b3;
	border-color:#17d1b3;
	color:white;
}

.btn-regiondata:focus{
	background-color:#0dc2a5;
	border-color:#0dc2a5;
	color:white;
}

.icon-socmedia{
	height:30px;
	width:30px;
	float:right;
	margin-left:10px;
}

.btn-nav-top-2{
	background-color:#666666;
}

.heading-regiondata{
	
	background-color:#0dc2a5 !important;
	color:white !important;
	
}

.panel-regiondata{
	
	padding: 0 !important;
	
}

.nav-dataoptions{
	
	float:right;
	
}

#footer_bot{
	position:absolute;
	bottom:0px;
	height: 100px;
	width: 100%;
	background-color: #0dc2a5;
}

#nav_top{
	
	background-color:#0dc2a5;
	
}

#nav_top a{
	color:white;
}

#logo{
	height:45px;
	width:45px;
	margin: -11px;
}

#header{
	font-size:30pt;
	color:#666666;
}

#subheader{
	opacity:0.5;
}

#button_header{
	text-decoration:none;
	color:black;
}

#text_header{
	display:inline-block;
	vertical-align:top;
}

#button_registerfinish{
	float:right;
}

#btn_addnew{
	
	float:right;
	
}

#btn_schema{
	
	float:right;
	margin-right:10px;
	
}

#row_posts{
	background-color:#0dc2a5;
	color:white;
}

#btn_choosefile{
	margin-top:10px;
}

#checkbox_settings{
	
	margin-left:10px;
	
}

.disclaimer{
	position:fixed;
	bottom:0px;
	right:0px;
}
